<div class="top">
    {{#if manualMode}}
        {{contract-viewer
            contractType='ethereum' 
            readOnly=false

            manualMode=manualMode
            solCversion=solCversion
            toggleEditMode=(action "toggleEditMode")
            code=workingValue
            isCompiling=isCompiling
        }}
    {{else}}
        {{twiddle-panes-container
            model=model
            numColumns=numColumns
            fullScreen=fullScreen
            isCompiling=isCompiling
            showTitleOnMainPanels=true
            solCversion=solCversion
            
            leftColumnShow=leftColumnShow
            leftColumnIcon=leftColumnIcon
            leftComponent=leftComponent
            leftComponentName=leftComponentName
            leftWidth=leftWidth

            centerColumnShow=centerColumnShow
            centerColumnIcon=centerColumnIcon
            centerComponent=centerComponent
            centerComponentName=centerComponentName
            centerWidth=centerWidth

            rightColumnShow=rightColumnShow
            rightColumnIcon=rightColumnIcon
            rightComponent=rightComponent
            rightComponentName=rightComponentName
            rightWidth=rightWidth

            showLeftColumn=(action "showLeftColumn")
            hideLeftColumn=(action "hideLeftColumn")

            showRightColumn=(action "showRightColumn")
            hideRightColumn=(action "hideRightColumn") 

            openCentralColumn=(action "openCentralColumn")
            closeCentralColumn=(action "closeCentralColumn")

            focusColumn=(action "focusColumn")
            exitFullScreen=(action "exitFullScreen")

            changeYaml=(action "changeYaml")

            manualMode=manualMode
            code=workingValue
            internalCodeChange=internalCodeChange
            yaml=yaml
            toggleEditMode=(action "toggleEditMode")
        }}
        {{!-- {{#if showErrorDialog}}
            {{#paper-dialog onClose=(action "closeErrorDialog") escapeToClose=true}}
                {{#paper-toolbar}}
                    {{#paper-toolbar-tools}}
                        <h2>Invalid Smart Contract</h2>
                        <span class="flex"></span>
                        {{#paper-button iconButton=true onClick=(action "closeErrorDialog")}}{{paper-icon icon="close"}}{{/paper-button}}
                    {{/paper-toolbar-tools}}
                {{/paper-toolbar}}

                {{#paper-dialog-content}}
                    <p>
                        Please ensure that the smart contract code contains no syntax errors and follows the
                        constraints as specified <a href="" target="_blank">here</a>.
                    </p>
                    <p>
                        Additionally, see the log below for more details.
                    </p>
                {{/paper-dialog-content}}

                {{#paper-dialog-actions class="layout-row"}}
                    <span class="flex"></span>
                    {{#paper-button onClick=(action "closeErrorDialog")}}OK{{/paper-button}}
                {{/paper-dialog-actions}}
            {{/paper-dialog}}
        {{/if}} --}}
    {{/if}}
</div>

<div class="bottom">
    {{schema-validator-log
        outputs=outputs
        isCompiling=isCompiling
        manualMode=manualMode
        readOnly=readOnly
        compile=(action "compile")
    }}
</div>

