{{#paper-card as |card|}}
  {{#if (not showTitleOnMainPanels)}}
    {{#card.title as |title|}}
      {{#title.text as |text|}}
        {{#text.headline}}
          Assets & Transactions
        {{/text.headline}}
      {{/title.text}}
    {{/card.title}}
  {{/if}}
  {{#card.content}} 
      {{#paper-content scroll-y=true class="layout-padding flex grid-list"}}
        {{#if editingContract}}
          <span style= "color: white;"> Disabled</span>
        {{else}}
          <div class="layout-row layout-wrap">
            {{#paper-card class="flex-xs-100 flex-sm-100 flex-md-100 flex-lg-100 flex-gt-lg-100 flex-xl-100" as |assetpanel|}}
              {{#assetpanel.content}}
                {{#paper-item class="asset-header-container" as |assetHeader|}}
                    {{#paper-subheader class="asset-header"}}Assets{{/paper-subheader}}
                    <div class="md-secondary-container">
                        {{#assetHeader.button primary=true raised=true disabled=isCompiling onClick=(action "openNewAssetDialog")}}
                            {{paper-icon "add" title="Add a new Asset" position="left"}}
                        {{/assetHeader.button}}
                    </div>
                {{/paper-item}}
                {{#each assets as |asset|}}
                    {{blockchain-asset 
                        asset=asset
                        schema=schema
                        toggleOffAddTxn=(action "toggleOffAddTxn")
                        toggleOffDeleteTxn=(action "toggleOffDeleteTxn")
                        selectTxn=(action "selectTxn")
                    }}
                {{/each}}
                {{paper-divider}}
              {{/assetpanel.content}}
            {{/paper-card}}
          </div>
        {{/if}}
      {{/paper-content}}
  {{/card.content}}
{{/paper-card}}
{{#if showNewAssetDialog}}
    {{#paper-dialog fullscreen=fullscreen onClose=(action "closeNewAssetDialog" newAssetTitle) origin=dialogOrigin as |newAssetModal|}}
        {{#paper-dialog-content}}
            <div class="layout-row">
                <div class="layout-column flex-100">
                    {{paper-input input="text" required="true" label="Asset Name" value=newAssetTitle onChange=(action (mut newAssetTitle))}}
                </div>
            </div>
        {{/paper-dialog-content}}
        {{#paper-dialog-actions class="layout-row"}}
            <span class="flex"></span>
            {{#paper-button primary=true onClick=(action "closeNewAssetDialog" newAssetTitle) disabled=isInputEmpty}}Add{{/paper-button}}
        {{/paper-dialog-actions}}
    {{/paper-dialog}}
{{/if}}
{{#if showTransactionEditorDialog}}
    {{transaction-editor
        editing=false
        tranAssetTitle=tranAssetTitle
        assets=assets
        schema=schema
        generateView=(action 'generateView')
        closePromptDialog=(action 'closePromptDialog')
        upsertTransaction=(action 'addNewTxn')}}
{{/if}}