<div class="header">
    <div class="nav-left">
        {{#unless (or centerColumnShow leftColumnShow)}}
            <span class="hint--bottom hint--rounded" {{action (action this.openCentralColumn)}} title="Show {{centerComponentName}}">
                {{fa-icon centerColumnIcon}}
            </span>
        {{/unless}}
    </div>
    {{#if canHideRightColumn}}
        <div class="nav-right">
            <span class="hint--bottom hint--rounded" {{action (action this.hideRightColumn)}} title="Hide {{rightComponentName}}">
                {{fa-icon 'times'}}
            </span>
        </div>
    {{/if}}
</div>
{{component rightComponent code=code schema=schema showTitle=true yaml=yaml viewChange=(action viewChange rightComponent)}}
{{#if fullScreen}}
    <a class="exit-full-screen-link" {{action (action this.exitFullScreen)}}>Exit Full Screen</a>
{{/if}}