<div class="header">
    {{#unless (or centerColumnShow leftColumnShow)}}
        <div class="nav-left">
            <span class="hint--bottom hint--rounded" {{action (action this.openCentralColumn)}} title="Show {{centerComponentName}}">
                {{fa-icon centerColumnIcon}}
            </span>
        </div>
    {{/unless}}
    {{#if showTitleOnMainPanels}}
        {{#if (eq rightComponentName 'Smart Contract and Graph')}}
            <div class="tabs">
                {{#paper-tabs
                    class="aladdin-tab"
                    selected=selectedTab
                    borderBottom="false"
                    shouldPaginate=false
                    onChange=(action 'onChange') as |tabs|}}
                    {{#each tabTitles as |tabtitle|}}
                        {{#tabs.tab}}
                            {{tabtitle}}
                        {{/tabs.tab}}
                    {{/each}}
                {{/paper-tabs}}
            </div>
        {{else}}
            <md-card-title-text>
                <span class="md-headline">
                    {{rightComponentName}}
                </span>
            </md-card-title-text>
        {{/if}}
    {{/if}}
    {{#if canHideRightColumn}}
        <div class="nav-right">
            <span class="hint--bottom hint--rounded" {{action (action this.hideRightColumn)}} title="Hide {{rightComponentName}}">
                {{fa-icon 'times'}}
            </span>
        </div>
    {{/if}}
</div>
{{component 
    rightComponent
    code=code
    internalCodeChange=internalCodeChange
    schema=schema
    showTitle=showTitle
    solCversion=solCversion
    selected=selectedTab
    selectedTab=selectedTab
    selectedComponent=selectedComponent
    tabTitles=tabTitles
    showTitleOnMainPanels=showTitleOnMainPanels
    yaml=yaml
    changeYaml=(action changeYaml)
    viewChange=(action viewChange rightComponent)
    logValues=logValues
    manualMode=manualMode
    toggleEditMode=(action this.toggleEditMode)
}}
{{#if fullScreen}}
    <a class="exit-full-screen-link" {{action (action this.exitFullScreen)}}>Exit Full Screen</a>
{{/if}}