{{#paper-card as |card|}}
    {{#card.content}}
        {{#paper-content scroll-y=true class="layout-padding flex grid-list"}}
            <div class="layout-row layout-wrap">
                <div class="alert {{if showSolCVersion 'opened' 'closed'}}">
                    <span class="version">Solidity compiler supported version: {{solCversion}}</span>
                    <button type="button" 
                            class="close" 
                            data-dismiss="alert" 
                            aria-label="Close"
                            onclick={{action 'closeVersionAlertBar'}}>
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {{#paper-card class="flex-xs-100 flex-sm-100 flex-md-100 flex-lg-100 flex-gt-lg-100 flex-xl-100" as |btnContainer|}}
                    {{#btnContainer.content}}
                        <div class="manual-toggler">
                            {{#paper-button fab=true primary=true raised=true disabled=isCompiling onClick=(action "toggleEditMode")}}
                                {{#if manualMode}}
                                    {{fa-icon "bezier-curve"}}
                                    {{#paper-tooltip position="left"}}
                                        Back to graph view
                                    {{/paper-tooltip}}
                                {{else}}
                                    {{#paper-icon "edit"}}
                                        {{#paper-tooltip position="left"}}
                                            Toggle Manual Mode
                                        {{/paper-tooltip}}
                                    {{/paper-icon}}
                                {{/if}}
                            {{/paper-button}}
                        </div>
                        {{#ember-ace
                            minlines=20
                            value=value
                            mode=computedMode
                            highlightActiveLine=highlightActiveLine
                            showPrintMargin=showPrintMargin
                            readOnly=readOnly
                            update=(action 'valueUpdated')
                            tabSize=tabSize
                            useSoftTabs=useSoftTabs
                            useWrapMode=useWrapMode
                            editorClass="contract-viewer-wrapper"
                            showInvisibles=showInvisibles
                            showGutter=showGutter
                            showLineNumbers=showLineNumbers
                            showIndentGuides=showIndentGuides
                            theme=theme
                            overlays=overlays 
                            as |editor|}}
                        {{/ember-ace}}
                    {{/btnContainer.content}}
                {{/paper-card}}
            </div>
        {{/paper-content}}
        
        {{#if isCompiling}}
            {{paper-progress-circular warn=true diameter=96 mode="indeterminate"}}
        {{/if}}
    {{/card.content}}
{{/paper-card}}