{{#paper-card as |card|}}
    {{#if showTitle}}
      {{#card.title as |title|}}
        {{#title.text as |text|}}
          {{#text.headline}}
            Assets & Transactions Wizard
          {{/text.headline}}
        {{/title.text}}
      {{/card.title}}
    {{/if}}
    {{#card.content}}
    {{#paper-grid-list
      cols="2 md-2"
      rowHeight="gt-md-1:1"
      gutter="8px gt-sm-8px" as |grid|}}

    {{#grid.tile class="gray" as |tile|}}
    {{#paper-list}}

      {{#paper-subheader}}Assets{{/paper-subheader}}
      {{#each assets as |asset|}}
         {{#paper-item as |controls|}}
          {{#if editingAssetTitle}}
          {{ input value=asset.title enter =(action 'toggleOff' asset.title ) }}
          {{else}}
          <p onClick= {{action "toggleAsset" asset.title}}>{{asset.title}}</p>
          {{/if}}
          <div class="md-secondary-container">
            {{#controls.button primary=asset.isSelected onClick=(action "selectAsset" asset)}}
              View Transactions
            {{/controls.button}}
            </div>
        {{/paper-item}}
      {{/each}}
      {{paper-divider}}
      {{#if selectedAsset.transactions}}
      {{#paper-subheader}}Transactions{{/paper-subheader}}
      {{#if editingTxnAdd}}
      {{#paper-button raised=true mini=true onClick=(action  'toggleOffAddTxn')}}+{{/paper-button}}
      {{else}}
       <label>txnName:</label>
      {{ input  enter =(action 'toggleOnAddTxn' ) }}
      {{/if}}
      {{#each selectedAsset.transactions as |txn| }}
        {{#paper-item as |controls|}}
          {{#if editingTxnTitle}}
          {{input value=txn.title enter =(action 'toggleOffTxn' txn.title) }}
          {{else}}
          <p onClick= {{action "toggleTxn" txn.title}}>{{txn.title}}</p>
          {{/if}}
          <div class="md-secondary-container">
            {{#controls.button primary=txn.isSelected onClick=(action "selectTxn" txn)}}
              View Properties
            {{/controls.button}}
             {{#paper-button raised=true mini=true}}-{{/paper-button}}
          </div>
        {{/paper-item}}
      {{/each}}
      {{/if}}
    {{/paper-list}}
    {{/grid.tile}}

    {{#grid.tile class="gray left bordered" as |tile|}}
       {{#if txnParameters}}
       {{#paper-list}}
          {{#paper-subheader}}Parameters{{/paper-subheader}}
          {{#each txnParameters as |param|}}
            {{#paper-item as |controls|}}
                 {{!-- <p>{{param.title}}</p> --}}
            {{#if editingParamTitle}}
            {{input value=param.title enter =(action 'toggleOffParam' param.txn param) }}
            {{else}}
            <p onClick= {{action "toggleParam" param.title}}>{{param.title}}</p>
            {{/if}}
                <div class="md-secondary-container"> </div>
                 <select onchange={{action 'typeChange' param.txn param }}>
                   <option value= {{param.type}}>{{param.type}}</option>
                    {{#each options as |option|}}
                    <option value={{option}}>{{option}}</option>
                    {{/each}}
                </select>
            {{/paper-item}}
          {{/each}}
          {{paper-divider}}
          {{#paper-subheader}}Returns{{/paper-subheader}}
          {{#paper-item as |controls|}}
            {{#controls.button primary=true}}
              {{txnReturnsType}}
            {{/controls.button}}
          {{/paper-item}}
      {{/paper-list}}
      {{/if}}
    {{/grid.tile}}
    {{/paper-grid-list}}
     
    {{/card.content}}
{{/paper-card}}
