<div class="flex layout-row">
    {{outlet}}
    {{aladdin-main-container}}
</div>
{{!ember-load-remover}}
{{!-- {{graph-view}}
{{schema-validator-log}}
{{outlet}} --}}
{{!-- <div id="main-app" class="flex layout-column">
    {{#paper-content scroll-y=true class="layout-padding flex"}}
        {{#paper-grid-list
            cols="12 md-12 gt-md-12"
            rowHeight="gt-md-1:1 2:2"
            gutter="12px gt-sm-8px" as |grid|}}
            {{#grid.tile rowspan="4" colspan="sm-1 gt-sm-6" as |tile|}}
                {{contract-editor}}
            {{/grid.tile}}
            {{#grid.tile rowspan="6" colspan="sm-1 gt-sm-6" as |tile|}}
                {{tabbed-container}}
            {{/grid.tile}}
            {{#grid.tile rowspan="2" colspan="sm-1 gt-sm-12" as |tile|}}
                {{schema-validator-log}}
            {{/grid.tile}}
        {{/paper-grid-list}}
    {{/paper-content}}
</div>
{{paper-toaster parent="#main-app"}} --}}

{{!-- {{graph-view}} --}}
{{!-- {{assets-transactions-wizard}} --}}
{{!-- {{integrated-development-environment}} --}}