<div class="header">
  <div class="nav-right">
    {{#if canHideLeftColumn}}
      <span class="hint--bottom hint--rounded" {{action 'hideLeftColumn'}} title="Hide {{leftComponentName}}">
        {{fa-icon 'times'}}
      </span>
    {{/if}}
    {{#if centerColumnShow}}
      <span class="hint--bottom hint--rounded" {{action "swapComponents" "left,center"}} title="Swap {{leftComponentName}} and {{centerComponentName}}">
        {{fa-icon 'exchange-alt'}}
      </span>
    {{else}}
      <span class="hint--bottom hint--rounded" {{action (action this.openCentralColumn)}} title="Show {{centerComponentName}}">
        {{fa-icon centerColumnIcon}}
      </span>
    {{/if}}
    {{#if rightColumnShow}}
      <span class="hint--bottom hint--rounded" {{action "swapComponents" "left,right"}} title="Swap {{leftComponentName}} and {{rightComponentName}}">
        {{fa-icon 'angle-double-right'}}
      </span>
    {{/if}}
  </div>
</div>

{{component leftComponent showTitle=true schema=schema code=code yaml=yaml viewChange=(action viewChange leftComponent)}}
{{!-- {{component 'contract-editor' yaml=yaml viewChange=(action viewChange 'contract-editor')}} --}}