{{#paper-item as |controls|}}
    {{#if editingTitle}}
        {{input value=transaction.title enter=(action "setNewTransactionTitle" transaction.title) }}
    {{else}}
        <p onClick={{action "toggleTxnEdition"}}>{{transaction.title}}&nbsp;<span style="color: #f92672">: {{transaction.returnType}}</span> </p>
    {{/if}}
    <div class="button-with-icon-container">
        {{#controls.button raised=true primary=true iconButton=true onClick=(action "toggleTransactionDisplay")}}
            {{#if showingParams}}
                {{paper-icon "unfold_less" title="Hide Properties"}}
            {{else}}
                {{paper-icon "unfold_more" title="View Properties"}}
            {{/if}}
        {{/controls.button}}
    </div>
    <div class="button-with-icon-container">
        {{#controls.button raised=true primary=true iconButton=true onClick=(action "toggleTxnEdition")}}
            {{paper-icon "edit" title="Edit Transaction"}}
        {{/controls.button}}
    </div>
    <div class="button-with-icon-container red">
        {{#controls.button raised=true class="shaking" iconButton=true onClick=(action "deleteTxn" transaction.title)}}
            {{paper-icon "delete_forever" title="Delete Transaction"}}
        {{/controls.button}}
    </div>
{{/paper-item}}
{{#if showingParams}}
    {{#paper-card class="gray flex-xs-100 flex-sm-100 flex-md-100 flex-lg-100 flex-gt-lg-100 flex-xl-100" as |paramspanel|}}
        {{#paramspanel.content}}
            {{#paper-subheader class="parameters-header"}}Parameters{{/paper-subheader}}
            {{#each parameters as |param|}}
                {{blockchain-transaction-parameter 
                    param=param
                    editingTitle=false
                    editingParamType=false
                    schema=schema}}
            {{/each}}
        {{/paramspanel.content}}
    {{/paper-card}}
{{/if}}
